/* phần header đầu trang*/
.header_logo_img{
    width: 150px;
    height: 50px;
    margin: 0px 10px;
}
.cotainer-header{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    margin: 7px 10px;
}
/*phần tài khoản*/
.register-and-shopping-cotainer{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.login-register-account{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}
.login-register-account:hover .login-register-container{
    display: block;
}
.login-register-account::after{
    content: "";
    display: block;
    left: 0;
    top: 30px;
    width: 100%;
    height: 30%;
    position: absolute;
}
.userimg{
    font-size: 18px;
    margin-right: 5px;
    color: white;
}
.text-Login-register{
    color: white;
    font-size: 13px;
}
.Login-register{
    display: flex;
    flex-direction: column;
}
.Login-account-text{
    color: white;
}
.login-register-container{
    background-color: var(--white-color);
    width: 190px;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    margin-top: 5px;
    display: none;
    overflow: hidden;
}
.login-register-container .login-container, 
.login-register-container .register-container{
    padding: 10px;
    /* margin: 10px; */
    font-size: 13px;
    font-weight: 500;
}
.login-register-container .login-container, 
.login-register-container .register-container:hover{
    background-color: #eee;
}
.login-register-container .login-container a, 
.login-register-container .register-container a{
    text-decoration: none;
    /* padding: 10px; */
    color: var(--text-color);
    padding: 10px;
}
.icon-login-register{
    margin-right: 10px;
    color: var(--primary-color);
    padding-left: 10px;
}
/*phần hiển thị giỏ hàng trên trang header*/
.shopping-container {
    color: white;
    font-size: 16px;
    position: relative; /* Ensures that the notice is positioned relative to this container */
    display: inline-block;
}

.shopping-card {
    font-size: 2rem; /* Adjust the icon size as needed */
}

.shopping-notice {
    position: absolute;
    top: -13px; /* Adjust as needed to align properly */
    right: 47px; /* Adjust as needed to align properly */
    padding: 1px 8px;
    color: white;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: rgb(0, 47, 255);
    border-radius: 10px;
    border: solid 1px white;
    cursor: pointer;
}
/*
phần hiển thị giỏ hàng trên trang header bản gốc ko xài chát gpt
.shopping-container{
    color: white;
    font-size: 16px ;
    
}
.shopping-notice{
    position: absolute;
    padding: 1px 8px;
    
    color: white;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: rgb(0, 47, 255);
    border-radius: 10px;
} 
*/
/* phần tìm kiếm trên thanh header*/
.header-search-form{
    width: 30%;
    height: 50%;
    /* flex: 1; */ /*cho thanh tiềm kiếm lấy hết diện tích nếu cần*/
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    line-height: 1.4rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.header-search-form-input{
    width: 70%;
    height: 100%;
    border: none;
    flex: 1;
}
.search-btn{
    display: block;
    cursor: pointer;
    width: 50px;
    align-items: center;
}
.search-icon{
    font-size: 15px;
   margin-left: 15px;
}
/*phần thể loại*/
.menu-category{
 position: fixed;
 width: 100%;
 height: 50px;
 background-color: var(--primary-color);
 top: 70px;
 justify-content: space-between;
 box-shadow: rgb(230, 230, 230) 0px -0.5px 0px inset;
}
.menu-category-book{
    display: flex;
    justify-content:space-evenly;
}
.menu-category-book-item{
    font-size: 18px;
    display: inline-block;
    color: white;
    position: relative;
}
.menu-item-link::after{
 content: "";
 position: absolute;
 width: 100%;
 height: 3px;
 background-color: var(--text-color);
 left: 0;
 bottom: 0;
 background-color: var(--primary-color);
}
.menu-category-book-item:hover .menu-item-link::after{
    background-color: var(--white-color);
    animation: expandFromCenter 0.5s ease-in-out forwards; 
}
.menu-category-book-item:hover{
    background-color: #2d0beb;
}
.menu-item-link{
    transition: transform 0.6s ease; /*hiệu ứng di chuyển */
    font-size: 18px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
}
/*tạo hiệu ứng*/
/* .menu-category.hide { 
    transform: translateY(-50px);
} */
/*phần thân trang web*/
.main-wrapper{
    overflow: hidden;
    width: 100%;
}
.container{
    width: 100%;

}
.slice-home{
    display: flex;
    justify-content: center;   
}
.slice-home img{
    width: 75%;
    height: auto;
    margin-top: 45px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: inset;
}
/* thanh tiêu đề quản cáo*/
.content-home-service{
    display: flex;
    justify-content: space-evenly;
}
.content-home-service-item{
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    background-color: rgb(0, 47, 255);
    color: white;
    border-radius: 20px;
    height: 90px;
    width: 185px;
}
.content-home-service-item-icon{
    font-size: 30px;
    margin-right: 5px;
    margin-top: 30px;
    margin-left: 5px;
}
.content-home-service-item-title{
    margin-top: 25px;
}
/*thanh tiêu đề giới thiệu danh sách sản phẩm*/
.title-menu-description{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.title-menu-description::after{
    content: "";
    width: 25%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -25px;
    /* transform: translate(-50%); */
}
/*danh sách sản phẩm*/
.home-products-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}
.product-item{
    width: 20%;
    overflow: hidden; 
    margin: 10px;  
}
.cart-product{
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    background-color: var(--white-color);
    /*display phải lun đí với justifyconthen*/
    /* display: grid; 
    justify-content: center; */
}
.product-header{
    overflow: hidden;
    /* position: relative; */  
}
.cart-img-link{
    display: block;
    width: 100%;
    height: 100%;
}
.product-img{
    width: 100%;
    height: 270px;
}
.product-content{
    display: grid;
    justify-content: center; /*căng giữa cả ngang và dọc*/
    align-items: center;
    grid-template-rows: auto auto auto;
    gap: 12px; /* Khoảng cách giữa các hàng là 20px */
    color: var(--primary-color);
    font-size: 15px;
}
.product-name{
    color: var(--text-color);
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}
.product-price{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
.product-buy{
    display: flex;
    justify-content: center;
    margin-bottom: 5px; 
}
.btn-primal:hover{
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}
/*chỉ mục số sản phẩm*/
.product-list-index-container{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.product-list-index{
    display: inline-flex;
    justify-content:center;
    gap: 30px;
    margin-right: 40px;
}
.list-item{
    border: 2px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: black;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
}
.list-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}
/*chân trang phần cuối cùng của 1 trang web*/
.footer{
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid var(--primary-color);
}
.introduce-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    align-items: center;
    border-bottom: 1px solid #888;
    padding: 25px;
}
.footer-imgs-logo{
    padding-right: 40px;
    border-right:  1px solid #888;  
}
.footer-img{
    width: 240px;
}
.footer-register-content{
    margin-left: 20px;
    display: inline-flex;
    gap: 20px;
}
.footer-register-title h1{
    font-size: 24px;
    font-weight: 700;
}
.footer-register-title h3{
    color: #888;
    font-size: 15px;
}
.footer-register-form{
    display: flex;
    align-items: center; 
}
.register-email{
    padding: 0 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    height: 50px;
    outline: none;
}
.register-button{
    padding: 0 30px;
    border-radius: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}
.register-button:hover{
    background-color: var(--white-color);
    color: var(--text-color);
}
.footer-register-icon{
    margin-left: 10px;
}
/*phần cuối quảng bá trang*/
.container-contact-footer{
    display: flex;   
}
.container-contact{
    display: flex;
    justify-content: space-around; /* Khoảng cách đều giữa các phần tử */
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    flex: 1;
    margin-top: 60px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
}
.container-contact .brand-footer,
.container-contact .link-footer,
.container-contact .menu-footer,
.container-contact .contact-footer{
    position: relative;
    /* text-align: center; Canh giữa văn bản */
    width: 25%;
    margin-left: 60px;
}
.fotter-content-paragraph p {
    text-indent: 20px; /* Điều chỉnh giá trị để phù hợp với chiều dài của chữ 'VỀ CHÚNG TÔI' */
}
.brand-footer{
    align-items: center;
    justify-content: center;
}
/* .container-contact .brand-footer,
.container-contact .link-footer,
.container-contact .menu-footer,
.container-contact .contact-footer::after {
    
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, var(--primary-color), transparent);
    left: 0;
    bottom: -5px; 
} */
 /*.fotter-content-paragraph p {
    text-indent: 20px; /* Điều chỉnh giá trị để phù hợp với chiều dài của chữ 'VỀ CHÚNG TÔI' */
/*}*/
.fotter-content-paragraph{
    font-weight: normal;  
}
.footer-link-list{
    margin-right: 40px;
 }  
.footer-brand-icon-link-list{
display: flex;
justify-content: space-between;
padding-left: 0px;
 }
 .footer-brand-icon-link-list .container-icon{
    border-radius: 50%;
    border: 1px solid var(--text-color);
    width: 35px;
    height: 35px;
    line-height: 40px;   
}
.container-icon:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.icon-link{
    font-size: 20px;
    margin-left: 7px; 
 }
 .footer-link-list ul {
    text-align: left; /* Căn lề trái toàn bộ danh sách */
    list-style: none; /* Loại bỏ các dấu chấm tròn của danh sách */
    padding-left: 0; /* Loại bỏ khoảng cách thụt đầu dòng */
}
.footer-link-list ul li:hover .icon-footer{
    animation: fadeInMoveRight 1s ease-in-out;
}
.footer-link-list li {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    margin-bottom: 5px; /* Khoảng cách giữa các mục trong danh sách */
}
.footer-link-list i {
    margin-right: 10px; /* Tạo khoảng cách giữa biểu tượng và văn bản */
}
.footer-brand-icon-link-list i,
.footer-link-list i {
    margin-bottom: 10px;
}
/* .icon-footer{
    margin-bottom: 10px;
} */
.container-content-icon{
    display: flex;
    margin-bottom: 5px; 
    align-items: center;
}
.icon-container{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border:1px solid #888;
    background-color: var(--primary-color);
    padding: 10px;
    margin-right: 10px;
}
.icon-content-title{
    font-size: 20px;
    line-height: 3px;
}
.fotter-end{
    border-top: 1px solid #888;
    display: flex;
    justify-content: center;
}
.fotter-end h3{
    font-weight: normal;
}
.brand-footer{
    padding-top: 30px;
}
/*phần đăng kí*/
.modal-icon-control-container{
    position: absolute;
    top: 0;
    right: 0;
    /*combo nếu muốn chỉnh 1 thẻ nhỏ trong 1 thẻ lớn cho thẻ lớn relative còn thẻ nhỏ absolute*/
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.icon-quit{
    font-size: 30px; 
}
.modal-container-login{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    
   
}
.modal-login-content-container h2{
    font-size: 20px;
    text-align: center;
}
.modal-login-content-container p {
    text-align: center;
    color: #808080;
    font-size: 14px;
}
.modal-login-register h3{
   margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}
form.modal-login-register input {
   width: 100%;
   height: 35px;
   border-radius: 5px;
   outline: none;
   border: 1px solid #ccc;
}
.modal-container-login .login-btn,
.modal-body-register .register-btn{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
}
.modal-login-decription{
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.modal-login-decription a{
    color: var(--primary-color);
}
.checkbox-container {
    display: flex;
    /* align-items: flex-start;  */
    /* Căn chỉnh các phần tử theo chiều dọc */
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.checkbox-container .check-info{
    position: absolute;
    width: 20px;
    height: 20px;
}
.checkbox-container h4{
    font-size: 14px;
    margin-left: 30px;
}
.checkbox-container h4 a{
    text-decoration: none;
}
/*phần chi tiết sản phẩm*/
.modal-body-deltail-product{
       display: flex; 
}
.modal-body-deltail-product-inner{
    width: auto;
    height: auto;
    z-index: 1;
    margin: auto;
    overflow: hidden;
    width: 410px;
}
.img-product{
    width: 100%;
    object-fit: cover;
    max-height: 375px;
    margin: 5px;
}
.modal-body-deltial-product-content-container{
    margin: 10px;
    
}
.body-deltial-product-info-container .name-product{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}
.price-quantity-product-container{
    display: flex;
    justify-content: space-between; /* Đặt khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
    border-bottom: solid #888 1px;
    padding-bottom: 10px;
}
.modal-product-notice{
border-bottom: solid 1px #888;
}
.modal-product-notice .product-notice-title h4{
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.price-quantity-product-container .price-product{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}
.quantity-input{
    background-color: #fff;
    height: 25px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 5px;
    outline: none;
}
/*cách xóa nút tăng giảm trong input type number trong chrome*/
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari và Opera */
    margin: 0; /* Đặt lại margin */
}
.quantity-btn{
    background-color: #f9f9f9;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
    line-height: 20px;
    border-radius: 50%;
}
.product-notice-arena{
    padding-bottom: 10px;
    /* overflow: auto; */
}
.text-notice{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    background-color: #F7F7F7;
    border: none;
}
.modal-product-fotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-fotter-price{
    display: flex;
    flex-direction: column;
}
.product-fotter-price h4{
    color: #808080;
    font-size: 13px;
    height: 5px;
}
.product-fotter-price .price-product{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}
.fotter-shopping-container{
    float: right;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 5px;
    gap: 3px;
}
.shopping-btn{
    width: 50%;
}
.add-shopping-product-btn{
    width: 15%;
}
.shopping-btn, .add-shopping-product-btn{
    height: 45px;
}
.exit-icon-modal{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #808080;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.5;
    margin: 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.icon-exit-deltial-product{
    font-size: 30px;
}